In [1]:
import pandas as pd
df = pd.DataFrame()

df['Name'] = ['sapan', 'Keya', 'Manan', 'Tarang']
df['Emplyed'] = ['Yes','Yes','No','No']
df['Age'] = [25, 23,33,21]
df

     Name Emplyed  Age
0   sapan     Yes   25
1    Keya     Yes   23
2   Manan      No   33
3  Tarang      No   21

In [2]:
def measn_age_group(dataframe,col):
    return dataframe.groupby(col).mean()

In [3]:
def uppercase_column_name(dataframe):
    dataframe.columns=dataframe.columns.str.upper()
    return dataframe

In [4]:
(df.pipe(measn_age_group,col='Emplyed')
    .pipe(uppercase_column_name))

         AGE
Emplyed
No        27
Yes       24